<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

      <!-- AOS Library CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet"> -->

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    
    <!-- Favicon -->
    <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.ico">

    <!-- Javascript -->
    <script src="{{ site.baseurl }}/assets/js/scripts.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    



    <!-- plugins -->
     {% feed_meta %}
     {% seo %}

</head>
  
<body>
  {% include navigation.html %}
 


  <div class="background-bubbles">
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
  </div>

  <div class="main-container">
    {{ content }}

  </div>
  <!-- Tombol Scroll to Top -->
<button id="scrollToTopBtn" class="scroll-to-top-btn" title="Kembali ke atas">
  <i class="fa fa-arrow-up"></i>
</button>


  {% include footer.html %}




</body>
</html>

<script>
  // Ambil tombol
  const scrollToTopBtn = document.getElementById("scrollToTopBtn");

  // Event scroll untuk memeriksa apakah halaman digulir ke bawah
  window.onscroll = function () {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      scrollToTopBtn.style.display = "block"; // Tampilkan tombol
    } else {
      scrollToTopBtn.style.display = "none"; // Sembunyikan tombol
    }
  };

  // Saat tombol diklik, halaman akan digulirkan ke atas
  scrollToTopBtn.addEventListener("click", function () {
    window.scrollTo({
      top: 0,
      behavior: "smooth", // Efek scroll halus
    });
  });

  // Script Tanggal dan Waktu Realtime

</script>
